*{
    box-sizing: border-box;
  }

  body {
    font-family: 'Roboto', georgia;
    font-size: 13px;
    
  }

  .block-page{
    background-color: white;
  }

  h1 {
    /*font-family: 'Shrikhand';*/
    font-family: 'Roboto';
    margin-left: 15px;
  }

  h2{
    /*font-family: 'Shrikhand';*/
    font-family: 'Roboto';
    font-weight: bolder;
  }

  article span{
    font-family: 'Roboto', georgia;
    font-size: 15px;
  }

  header {
    display:flex;
    margin-bottom: 5px;
    background-color: white;
    BOX-SHADOW: 0px 5px 0px #cac9c9;
    padding-bottom: 3px;
    
  }

header img {
  margin:auto;
  height: 50px;
  margin-top: 30px;
}

.numero-fontionnement{
  color: white;
}

.localisation{
  background-color: #ddd9d9;
  margin: auto;
  text-align: center;
  padding-top: 7px;
  padding-bottom: 7px;
  /*border-top: solid #cac9c9;
  border-bottom: solid #e4e1e1;*/
  font-weight: bold;
  box-shadow: inset 4px #741515;

}

.localisation i{
  color : #030303e1;
  background-color: #ddd9d9;
  font-size: 17px;
}

.presentation{
 text-align: center;
  padding-top:20px;
  background-color: #f0eeee;
  padding-bottom: 40px;
}

.presentation span {
  /*font-family: 'Shrikhand';*/
  font-family: 'Roboto';
  font-weight:bolder;
  display: block;
  font-size: 26px;
  margin-bottom: 10px;
}


.presentation .span2{
  font-family: 'roboto';
  font-size: 22px;
  font-weight: lighter;
}

.presentation2{
  text-align: center;
   padding-top:20px;
   background-color: #f0eeee;
   padding-bottom: 40px;
 }
 
 .presentation2 button{
   background: linear-gradient(#FF79DA,#9356DC);
   color:rgb(255, 255, 255);
   border-radius: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   width : 250px;
   margin: auto;
   border : none;
 }

.btn{
  position: relative;
  z-index: 1;
}

::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: darken(#9356DC, 5);*/
  /*background-color: rgb(255, 121, 218);*/
  background-color:rgba(255,121,218,0.8);
  box-shadow: 4px 4px 4px #979696;
  border-radius: 15px;
  z-index: -1;
  opacity: 0;
  transition: opacity 250ms;

}

.btn:hover::after {
  opacity: 1;

}

.fonctionnement{
  position:relative;
  background-color: #f5f5f5;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 20px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 4px 4px 4px #979696;
}

.numero-fontionnement{
  position:absolute;
  background-color: #9356DC;
  padding-right: 7px;
  padding-left: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  left:-8px;
  top:33%;
  border-radius: 20px;
}

.fonctionnement span {
  font-weight: bold;
}

.fonctionnement i {
  margin-right: 10px;
  font-size: 17px;
}

.section-fonctionnement{
  margin-bottom: 20px;
}

article img {
  height:175px;
  width:100%;
  object-fit:cover; 
  border-radius: 21px 21px 0px 0px;
}

article .article-description{
  display:flex;
  justify-content:space-between;
}

.section-restaurant {
   background-color:#eeecec;
   padding-bottom: 15px;
}


article {
  margin-left: 10%;
  margin-right: 10%;
  border-radius: 25px;
  background-color:white;
  color: black;
  margin-bottom: 25px;
  box-shadow: 4px 4px 4px #979696;

}

article i {
  font-size: 21px;
  padding-right: 20px;
  padding-top: 20px;

}

h2{
  padding:0px;
  margin:0px;
  padding-left:10px;
  padding-bottom: 10px;
}

.hh{
  font-size: 25px;
}

article span {
  display: flex;
  padding-left:10px;
  padding-bottom: 15px;
}

.image-nouveau {
  position: relative;
}

.bouton{
  position: absolute;
  background-color: #99E2D0;
  right:12px;
  top:10%;
  padding:5px;
  padding-left: 10px;
  padding-right: 10px;
  color: green;
}

section{
  padding-top: 30px;
}

a {
  text-decoration: none;
}

.block-page{
  background-color:#eeecec;
}

.section-fonctionnement{
  background-color:white;
}

footer{
  background-color: rgb(68, 67, 67);
  color:white;
  padding-bottom: 20px;
  font-size: 15px;
}

footer a {
  color:white;
}

footer li{
  list-style: none;
  margin-bottom: 5px;
}

footer h1{
  font-size: 14px;
  padding-top: 20px;
}

.coeur-principal{
  position: relative;
  /*z-index: 1;*/
}


.coeur2 i {
  color:#9356DC;
}


.coeur2{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*background-color: darken(#9356DC, 5);*/
  /*z-index: -1;*/
  opacity: 0;
  transition: opacity 250ms;
}

.coeur-principal:hover .coeur2{
      opacity: 1;
}

.fonctionnement:hover i{
  color:#9356DC;
}

.fonctionnement:hover{
  background-color:#fcfafa;
}




/*

$cd-bars: #15DEA5;
$size: ;
$num-bars: 5
$anim-dur: 1000ms;
$anim-delay: $anim-dur / $num-bars;

*/

.load {
    width: 30vh;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    z-index: -1;
    margin:auto;
    PADDING-top: 125px;
}

.load__bar {
        background-color: #15DEA5;
        height: 45vh;
        width: 3vh;
        animation: bars 500ms backwards infinite ease-in-out alternate;
    }

  .load__bar--1 {
      animation-delay: 100ms;
  }
  .load__bar--2 {
      animation-delay: 200ms;
  }
  .load__bar--3 {
      animation-delay: 300ms;
  }
  .load__bar--4 {
      animation-delay: 400ms;
  }
  .load__bar--5 {
      animation-delay: 500ms;
  }

  @keyframes bars {
    0% {
        transform: scaleY(0.5);
    }
    100% {
        transform: scaleY(1.0);
    }
}












.block-page {
	animation: cat 0ms 1300ms both;
	/*width: 51vw;
	height: 30vw;*/
	position: absolute;
	overflow: hidden;
  width:100%;
	/*background-size: cover;*/
	/*background-position: -20%;*/
	z-index: 1;
	/*display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 0.1rem;
	font-size: 4vw;
	font-weight: 900;
	color: white;*/
}

@keyframes cat {
	0% {
		transform: translateX(-9999px);
	}
	100% {
		transform: translateX(0);
	}
}









.div-fonctionnement{
  padding-bottom: 50px;
}



@media screen and (min-width : 768px){

  .div-fonctionnement{
    display:flex;
    justify-content: center;
    padding-bottom: 60px;
  }

  .fonctionnement{
    margin:0px;
    margin-left: 30px;
    width:25%;
  }

  .deux-menus{
    display: flex;
    justify-content: center;
  }

  .deux-menus a{
    width:35%;
    margin-bottom:15px;
    margin-right: 15px;
  }

  .deux-menus a article{
    margin: 0px;
  }

  footer ul{
    display: flex;
    justify-content: space-around;
    margin-left: 25%;
    margin-right: 25%;
  }

  footer h1{
    padding-left: 47%;
  }

}
















